.workout-card {
  height: 250px;
  margin: 5px;
}

.exercises-card {
  height: 250px;
  margin: 5px;
}

.workout-container {
  padding: 25px;
  grid-column: 1;
}

.exercises-container {
  padding: 25px;
  grid-column: 2;
}

.main-container {
  display: grid;
}
